<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{normal/base::Layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>This is dash page</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3 my-3" style="border-radius: 20px">
			<div class="card-body">

				<div class="text-center">
					<div class="container-fluid mt-1">
						<div class="row">
							<div class="col-md-12">
							
							<div class="text-left container h2 "> <a style="color: gray" th:href="@{/user/settings}"> <i class="fa-solid fa-circle-chevron-left"></i></a></div>
							
							  
  <div class="container-fluid my_Message" >
				  
					<!-- ---------------------------------------------------  -->
							
							<div th:classappend="${msg.type}" class="alert" role="alert">
  <h4 th:if="${msg.type =='alert-success' }" th:classappend="${msg.type}" class="alert-heading">Well done! password updated successfully</h4>
    <h4 th:if="${msg.type =='alert-danger' }" th:classappend="${msg.type} " class="alert-heading">Password not Updated!!</h4>
  
   <p th:if="${msg.type =='alert-success' }">Your password has been <b> updated successfully </b>.<br> Feel free to explore the enhanced security features.</p>
      <p th:if="${msg.type =='alert-danger' }">Your password  <b>Not Updated  </b>.<br> Feel free to explore the enhanced security features.</p>
   
    <hr>
  
  <p class="mb-0">In case of any issues, please use appropriate channels for assistance.</p></div>
							
							<!--_______________________________________________________  -->
							
							
							
							<div class="container text-center mx-auto">
							<a th:href="@{/user/settings}" type="button" class="btn mx-3 btn-outline-primary rounded-pill"> Settings </a>
							<a th:href="@{/user/index}"  type="button" class="btn mx-3  btn-outline-primary rounded-pill"> Home </a></div>
							
				
							
						</div>
					</div>
				</div>
			</div>
		</div>
</div></div>

	</section>
</body>
</html>
