<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>This is about page</title>
</head>
<body>
	<section>
		  <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 170px" class="col-md-12">

     

                  <div class="container pt-4">
                     <form method="post" action="" th:action="@{/Change_password}">
                     
                     <div class="form-group">
                   
                     <input type="text" name="password" placeholder="enter password here" class="form-control" />
                     <input type="hidden" name="email" th:value="${email}" />
                     </div>
                     <div class="text-center container">
                     <button class="btn btn-primary">Change Password</button>
                     </div>
                     </form></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

	</section>
</body>
</html>